body{
	--green-color: #1dd2af;
	--hardBlue-color: #2c3e50;
	--text-color: #6c7b8a;
}

.container {
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}
.section__header{
	text-align: center;
}

.section__header h2{
	text-transform: uppercase;
	font-size: 25px;
	color: var(--hardBlue-color);
}

.section__header p{
	margin-top: 17px;
	font-size: 16px;
	color: var(--text-color);
}

/*Register header*/
#register{
	position: relative;
	z-index: 10;
	background: var(--hardBlue-color);
	color: #ebeced;
	font-size: 1.5rem;
}

.registerChild a:hover{
	color: var(--green-color);
}

.registerBtn, .registerChild a{
	padding: 12px 17px;
	border-right: 1px solid black;
	transition: all .5s linear;
}

.registerChild a:nth-child(1){
	border-left: 1px solid black;
}
/*End Register header*/

/*Header*/
#header{
	position: relative;
	z-index: 10;
	padding: 20px 0;
	background: #fff;
}
.logo{
	font-size: 40px;
	text-transform: uppercase;
	color: var(--hardBlue-color);
}

span{
	color: var(--green-color);
}

.nav{
	display: flex;
	align-items: center;
	font-size: 15px;

}

.nav__link {
  color: var(--text-color);
  transition: color .5s linear;
}
.nav__link:hover {
  color: var(--green-color);
}

.search{
	color: var(--hardBlue-color);
	border: 2px solid var(--hardBlue-color);
 border-radius: 50%;
	transition: all .5s linear;
}
.search:hover{
	border: 2px solid var(--green-color);
	color: var(--green-color);
}
.nav i{
	padding: 13px 13px;
}

.nav a i:nth-child(1){
	border: none;
}
/*End Header*/

/*Main*/
.main{
	position: relative;
}

img{
	display: block;
	width: 100%;
	opacity: .5;
}

.mainContent{
 display: block;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

 text-align: center;
 color: #fff;
}

.btnBox{
	display: flex;
	justify-content: space-around;
	margin-top: 45px;
}

.btn{
	padding: 20px 20px;
	border: 2px #fff solid;
	border-radius: 10px;
	
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background: rgba(0, 0, 0, 0);
	transition: all .5s linear;
}

.btn:hover{
	background: var(--green-color);
	border-color: var(--green-color);
}

/*End Main*/

/*Specials*/
.specials{
	height: 100%;
	top: 25%;
	transform: translate(0, -25%);
}

.specials img{
	border-radius: 5px;
	opacity: 1;
}

.specials .slick-list{
	height: 100%;
}

.specials .slick-track {
	top: 15%;
}

.specials .slick-slide {
	position: relative;

	margin: 0 10px;
	padding: 8px 7px 5px 7px;
	background: #eeeeee;
	border-radius: 5px;
	transition: all .2s linear;
}

.specials .slick-slide:hover{
	transform: scale(1.1, 1.2);
	background: var(--green-color);
}

.specials button{
	top: -11%;
	opacity: 1;
	background: rgba(0, 0, 0, .5);
	transform: translate(0,0);
}

.specials p{
	margin: 14px 0 20px;
	font-size: 16px;
	color: var(--text-color);
}

/*Holidays*/
.holidays__background{
	width: 100%;
	height: 100%;
}
.holidays__background h2{
	color: #fff;
}
.div__allIcon{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 padding: 60px 0;
}


.holidays__content{
	text-align: center;
}

.holidays__content{
	/*font-size: 20px;*/
	color: #fff;
	transition: all .5s linear;
}
.holidays__content p{
	margin-top: 20px;
}

.holidays__icon{
 display: flex;
 justify-content: center;
 align-items: center;
	color: #fff;
 border: 5px #fff solid;
 border-radius: 50%;
	transition: all .5s linear;
}
.holidays__content:hover{
	color: var(--green-color);
}
.holidays__icon:hover{
	color: var(--green-color);
	border-color: var(--green-color);
}

/*End Holidays*/

/*Happy Clients*/
.happy__clients{
	top: 30%;
 transform: translate(0, 30%);
}

.happy__clients .slick-slide{
	margin: 0 10px;
}
.clients__content{
	box-sizing: border-box;
	padding: 20px 30px;
	/*margin: 0 10px;*/
	border: 1px #dedede solid;
	opacity: .5;
	transition: .2s all linear;
}
.clients__content:hover{
	border-top: 5px var(--green-color) solid;
	opacity: 1;
}
.say{
	font-size: 16px;
	color: #4d4d4d;
}
.namePerson{
	margin-top: 14px;
	font-size: 18px;
	color: var(--green-color);
}
.city{
	font-size: 13px;
	color: #b2b2b2;
}
/*End Happy Clients*/

/*Contacts*/
.contacts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 65px;
}
.footer_header{
	margin-bottom: 23px;
	font-size: 25px;
	color: var(--green-color);
}
.contactsBox{
	font-size: 13px;
	color: #fff;
}

.div__input{
 display: flex;
 margin-top: 20px;
 justify-content: space-between;
}

.div__input input{
	padding: 12px 10px;
	border: 2px #fff solid;
	border-radius: 5px;
	font-size: 13px;
	transition: all .2s linear; 
}
.div__input input:focus{
	border: 2px var(--green-color) solid;
}
.div__input button{
	padding: 0 15px;
	border: 2px var(--green-color) solid;
	border-radius: 5px;
	font-size: 15px;
	color: #fff;
	background: var(--green-color);
	transition: all .2s linear; 
}
.div__input button:hover{
	background: rgba(0, 0, 0, 0);
	color: var(--green-color);
}

.contactsBox span{
	display: inline-block;
	margin: 13px 0 30px;
}

.tags{
	display: inline-block;
	margin: 5px 5px;
	padding: 5px 5px;
	border: 1px #fff solid;
	transition: all .5s linear;
}

.tags:hover{
	color: var(--green-color);
	border-color: var(--green-color);
}

.address__divIcons{
	display: flex;
	justify-content: space-between;
	font-size: 25px;
	transition: all .5s linear;
}
.address__divIcons a{
	transition: color .5s linear;
}

.address__divIcons a:hover{
	color: var(--green-color);
}







