
@media (max-width: 991px) {
	.footer__content-letter {
		display: block;
	}
	.footer__content-letter input{
		width: 100%;
	}
	.send__btn {
		padding: 1rem 0;
		margin: 1rem 0;
	}
	.footer__content-social {
  display: block; 
  margin-top: 0;
	}
	.icons {
  justify-content: space-between;
  margin-top: 1rem;
	}
}

@media (max-width: 768px) {
	.cd-modal-content {
  padding: 3em 10% 4em;
 }
 .cd-modal-content p {
  font-size: 2.4rem;
 }
	.header{
		background: rgba(0, 0, 0, .8);
	}
	.nav {
  display: none;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  opacity: 0;
  transition:  0.5s linear;
 }
 
	.nav.active{
  display: block;
  background: rgba(0, 0, 0, .8);
  opacity: 1;
	}
 .active .nav__link {
  display: block;
  margin: 0;
  padding: 8px 20px;
 }
 .header .nav .authorization {
  margin-bottom: 1rem;
  display: inline-block;
	}

	.nav-toggle{
  display: block;
 }
	.main__title {
		margin-top: 5rem;
	}
	.our__story-logo {
  margin-right: 2rem;
	}
	.expertise__item {
  width: 48%;
  /*padding: 3rem 1%;*/
}
	.our__client-section {
  flex-wrap: wrap-reverse;
	}
	.our__client {
		display: block;
  width: 100%;
	}
	.our__client-section .section__header {
  text-align: center;   
	}
	.our__client-block {
		justify-content: space-around;
	}
	.our__form {
  width: 100%; 
	}
	.footer__content {
		display: block;
	}
	.footer__content-block {
		width: 100%;
	}
	.footer__content-block:nth-child(2){
		margin: 0;
	}
	.footer__content-social {
		display: flex;
	}
	.icons {
		display: flex;
		justify-content: space-around;
  width: 50%;
 }
 .footer__content-help .help a {
 	display: block;
 }
						
}

@media (max-width: 580px) {
	section {
  padding: 5rem 0;
	}
	.main__title {
	 margin-top: 8rem;
	}
	.our__story {
		display: block;
	}
	.our__story-logo img {
		margin: 0 auto;
	}
	.expertise__content .expertise__item {
  width: 100%;
 }
	.slick-prev, .slick-next {
	 width: 50px;
	 height: 50px;
		z-index: 1;
	}
	.slick-prev {
  left: 15px !important;
 }
	.slick-next {
  right: 45px !important;
	}
	.slick-prev:before, .slick-next:before {
  font-size: 50px !important;
  line-height: 0 !important; 
 
	}

}




















