@media (min-width: 320px) {
  .flip-clock-meridium{
    display: none;
  }
  .logo{
    display: none;
  }
  .nav{
    width: 100%;
    justify-content: center;
  }
  .flip-clock-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flip-clock-divider{
    display: none;
  }
  .flip-clock-wrapper ul{
    width: 30px;
    margin: 2px;
  }
  .section-weather__content{
    min-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .section-weather__content{
    min-width: 49%;
  }
  .flip-clock-wrapper ul{
    width: 60px;
    margin: 5px;
  }
  .flip-clock-divider{
    display: block;
  }
  

}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  } 
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .section-weather__content{
    min-width: 33%;
  }
  .logo{
    display: block;
  }
  
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  
}