p {
    margin-top: 0;
    margin-bottom: 0;
}

.mar_top {
    margin-top: 0.5rem;
}

.mar_bot {
    margin-bottom: 0.5rem;
}

.mar_left {
    margin-left: 1rem;
}

.mar {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.textup {
    text-transform: uppercase;
}



.container {
   max-width: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*------------------<background>----------------------*/
.gradienttotop {
    background: linear-gradient(to top, #56718d, #7f97bc);
}

.gradienttobottom {
    background: linear-gradient(to top, #7d95ba, #556f8b);
}

.justonecolor {
    background-color: #6783a3;
}
/*------------------</background>----------------------*/




/*------------------<border>----------------------*/
.bd {
    border: 4px solid #6f8cae;
    
}
/*------------------</border>----------------------*/



/*------------------<text color and size>----------------------*/
.smallwite {
    color: #f0fefe;
    font-size: 12px;
}

.smallgray {
    color: #b5c8d3;
    font-size: 12px;
     
}

.bigbold {
    color: #f0fefe;
    font-size: 25px ;
}

.biggerbold {
    color: #f0fefe;
    font-size: 50px ;
}
/*------------------</text color and size>----------------------*/




/*--------------Header----------*/

.active {
    background-color: #98b5d3;
}

.text_lower {
    text-transform: lowercase;
} 

span, .span {
    color: #aaeaf1;
}

/*------------------ Main img-----------------*/

.bg_img {
  height: 250px;
  background-image: url(../image/SpaceX2.jpg);
    
    
}


/* ---------- Section after Main img --------------*/

.allsystem {
    text-align: right;
}

.vertacalcenter {
   margin: 0;
   
}

.position {
    display: flex;
    align-items: center
}

hr {
    
    margin: 0 15px;
    width: 100%; 
    align-content: center;
    size: 10px; 
    color: #526c88;
    background-color: #526c88;
}

.line { 
    border-left: 2px solid #f0fefe; /* Параметры линии */ 
    
}

.rendezvous {
    background-color: #83a0c6; 
}




