
@font-face {
    font-family: AVENGEANCE; /* Гарнитура шрифта */
    src: url("../avengeance/AVENGEANCE HEROIC AVENGER.ttf") /* Путь к файлу со шрифтом */
}
.ok {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}


body {
    background-image: url(../images/iron-manandcap.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
}

.inner {
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px; 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.border {
    border-radius: 4px;
    border-color: aqua;
}

.gradient {
    background: linear-gradient(to right, #1b1a20, #373743);
    opacity: .9;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.withoutmargin {
    margin: 0;
    padding: 0;
}

.color_red {
    color: red;
}

/*
span {
 color: red;
}
*/

/*------------------ Hamburger -------------*/

#menuToggle {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-top: 0.5rem;
}


/* Just a quick hamburger*/

#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
}

/*-----------------------------------------*/


.Avengers {
    font-family: AVENGEANCE;
    font-size: 30px;
    margin-bottom: -15px;
    padding: 0;
}

.gradienttotopleft {
    background: linear-gradient(to top left, #1b1a20, #373743);
}

.vertical {
    writing-mode: tb-rl;
    transform:rotate(180deg);
    margin:  2rem 0;
}

a {
    margin: 2rem;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: red;
}

ul.ok {
    margin: 0; /* Обнуляем значение отступов */
}

ul.ok li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
}

.header {
    margin-top: 1rem;
}

.first_main_page {
    background-color: #f9f8fd;
}

.second_main_page {
    background-image: url(../images/iron-manandcap%20copy.jpeg);
    background-size: cover;
    opacity: 0.9;
}

.container_with_btn {
    text-align: end;
}

.btn {
    border: none;
    color: #d9d9d9;
    background-color: #e03d24;
    padding: 7px 30px;
    border-radius:  10px; 
    opacity: 1;
    margin-top: 4rem;
}

.p_btn {
    margin: 0.3rem;
}

.text_under_btn {
    font-size: 10px;
    color: #d9d9d9;
    margin: 0.3rem 0;
}

.center_point {
    border-radius: 50%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    /* display: flex; */
    
    justify-content: center;
    list-style: none;
}

.indicators {
    justify-content: center;
    text-align: center;

}


.taxt_man {
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 100px;
    margin-left: 100px;
}

.text_iron {
    color: #e03d24;
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 100px; 
}

.number {
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 100px;
    color: #3e3d46;
    text-align:left;
}

.number span {
    font-size: 10px;
    color: #a3a2a7;
}

.smallgray {
    font-size: 10px;
    color: #a3a2a7;
    text-align: left;
    margin-top: 0;
    margin-left: 1rem;
}


.tr {
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


hr {
    margin-top: 0;
    margin-left: 1rem;
    border: 1px solid #d6d5db;
    border-radius: 1px;
}

.main_iron_man {
    position: absolute;
    /*left: 315px;
    top: 130px;*/
    left: 19.5rem;
    top: 8rem;
}

img {
    height: 500px;
}























































