@media (min-width: 576px) {
  .nav-item{
    text-align: center;
  }
  .nav-link{
    display: inline-block;
  }
  .form-inline{
    justify-content: space-around;
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: .9;
  } 
  .content-img img {
    margin-left: -20px;
  }
  .bigBlock .about-sale-logo {
    width: 60%;
  }
  .content-block {
    position: absolute;
    margin-left: 20px;
    width: 70%;
  } 
  .nav-social .collapse:not(.show) {
    display: block;
  } 
  .nav-social .navbar-nav {
    flex-direction: inherit;
  }
  .support{
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .content-img img {
    margin-left: -50px;
  }

}

@media (min-width: 992px) {
  .collapse{
    margin-left: 55px;
  }
  .collapse ul{
    width: 462px;
  }
  .bigBlock .about-sale-logo {
    width: 40%;
  }
  .content-block {
    width: 60%;
    margin-left: 80px;
  }
  .copyright-content{
    display: flex;
  }
  .support a{
    margin-left: 25px;
  } 

}

@media (min-width: 1200px) {
  .bigBlock{
  }
  .bigBlock .about-sale{
    justify-content: normal;
  }
  .bigBlock .about-sale-content{
    width: 40%;
  }
  .content-block {
    width: 40%;
  }
}