
body{
    margin: 0;
    --color-green: #16a085;
    --color-white: #fff;
    --color-text: #7b7b7c;
    --color-lightGreen: #1abc9c;
    --bg-gray: #f5f6f7;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Header*/
.header {
    position: fixed;
    padding-top: 5px 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(22, 160, 133, .9);
    transition: box-shadow .5s linear;
}
.header:hover {
    box-shadow: 10px 10px 25px rgba(13, 123, 101, .7);
}


.nav, .nav__small-width {
    display: none;
    width: 100%;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.nav__link {
    display: block;
    padding: 7px 10px;
    margin: 0 2rem;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-white);
    transition: padding .5s linear;
  }


.nav__link:hover{
   box-shadow: 0 0 25px rgba(13, 123, 101, .7);
}

.logo, .logoTwo{
    display: inline-block;
    width: 53px;
    height: 55px;
    background: url(../img/photoApp.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.nav-icon{
    /*display: none;*/
}

.nav-icon span{
    background: var(--color-white);
    width: 30px;
    height: 1px;
    display: block;
    transition: 300ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width: 20px;
    margin: 0 auto;
}

.nav-icon span:nth-child(2){
    margin: 5px 0;
    width: 32px;
}


.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width: 30px;
}

.small__width{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Main*/
.main {
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/photoMain.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main__intro{
    margin: 0 auto;
    text-align: center;
    color: var(--color-white);
}

.main__suptitle{
    letter-spacing: .5rem;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
}

.main__title{
    letter-spacing: .2rem;
    font-weight: 100;
}

.main__btn{
    display: inline-block;
    padding: 20px 40px;
    margin-top: 10px; 
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: .2rem;
    background: var(--color-green);
    border-radius: 5px;
    transition: background .5s linear, box-shadow .5s linear;
    
}

.main__btn:hover{
    background: #0d7b65;
    box-shadow: 0 0 25px rgba(13, 123, 101, .7);
}

.main__social{
    position: absolute;
    top: 90%;
    left: 51%;
    transform: translate(-51%, -90%);
}
.main__social a{
   margin: .5rem;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: color .5s linear;
}
.main__social a:hover{
    color: var(--color-green);
}

/*Rappresent*/
.rappresent{
    position: relative;
    padding-top: 4rem;
    background: var(--bg-gray);
}
.rappresent__content{
    display: flex;
}
.rappresent__info{
    width: 35%;
}

.all__title{
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: var(--color-green);
}
.rappresent__text{
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: .1rem;
    color: var(--color-text);
}

.rappresent__btn{
    margin: 20px 0;
}
.iphone{
    position: relative;
    width: 65%;
}
.iphone__img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.iphone__img img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    right: 0;
}

/*Design*/

.design{
    padding-top: 4rem;
    background: var(--color-white);
}
.design__content{
    display: flex;
    justify-content: space-between;
}

.data-slider{
    width: 50%;
}
.design__photo{
    position: relative;
    bottom: -10px;
}

.slick-arrow{
    display: block;
    font-size: 0;
    color: transparent;
    
    cursor: pointer;
    
    border: 0;
    background: none;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;

    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

.slick-prev{
    left: 120%;
    transform: rotate(-45deg);
}
.slick-next{
    right: -35%;
    transform: rotate(135deg);
}

.design__info{
    width: 40%;
}

.photo__number{
    position: relative;
    margin-top: 5px;
    color: #b4b4b4;
}


/*Community*/
.community{
    padding: 5rem 0;
    background: var(--bg-gray);
}
.community__content{
    display: flex;
}

.our__community{
    display: block;
    text-align: center;
    align-items: center;
}

.community__title{
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .2rem;
}
.community__text{
    margin: 0;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: .1rem;
    color: var(--color-text);
}

.community__galery{
    width: 70%;
    display: flex;
    align-items: center;
}

.galery{
    width: 100%;
    margin: 0 1rem;
}
.galery__img{
    width: 100%;
    padding: 1px;
}

.autoplay .slick-slide{
    margin: 5px;
}

.autoplay .slick-arrow {
    top: -12%;
}

.autoplay .slick-next {
    right: 0;
}

.autoplay .slick-prev {
    left: 90%;
}

/*Subscribe*/

.subscribe{
    padding: 20rem 0;
    background-image: url(../img/subscribeBackground.png);
    background-size: cover;
}

.subscribe__title{
    margin-bottom: 35px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 200;
    letter-spacing: .2rem;
}
.subscribe__form{
    display: flex;
    justify-content: center;    
    text-align: center;
}

.subscribe__input{
    padding: 20px 20px;
    width: 280px;
    border: 2px solid #e7e7e7;
    border-right: 0;

    border-radius: 5px 0 0 5px;
    border-color: rgba(0,0,0, 0);

    height: 100%;
    font-size: 16px;
    transition: border-color .5s linear;
}

.subscribe__input:focus {
    outline: 0;
    border-color: var(--color-green);
}

.subscribe__btn{
    padding: 20px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    background: var(--color-green);
    color: var(--color-white);
    border: 0;
    transition: background .5s linear;
}

.subscribe__btn:focus{
    outline: 0;
}

.subscribe__btn:hover {
    background-color: #0b7762;
}

/*Download*/

.download{
    top: 0;
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--bg-gray);
}

.download__title{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .2rem;
    color: #373737;
}

.download__subtitle{
    margin: 0 auto;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1rem;
    width: 75%;
}

.download__btn--all{
    display: flex;
    justify-content: center;
}

.apple{
    display: flex;
    margin: 1rem;
}
.download__text{
    padding: 20px 100px 20px 25px;
    text-transform: uppercase;
    background: var(--color-lightGreen);
    color: white;
    font-size: 16px;
    letter-spacing: .2rem;
    border-radius: 5px 0  0 5px;
    transition: background .5s linear;
}

.download__text:hover{
    background: var(--color-green);
}

.download__btn{
    padding: 6px 18px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: var(--color-green);
    border-radius: 0 5px 5px 0;
    border: 0;
    transition: background .5s linear;
}
.download__btn:hover {
    background: var(--color-lightGreen);
}

.download__btn:focus{
    outline: 0;
}

.play{
    display: flex;
    margin: 1rem;
}

/*Footer*/
.footer{
    top: 0;
    background: var(--color-white);
}
.footer__content{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.footer__abouttUs{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1rem;
    margin-bottom: 25px;
}

span{
    color: #16a085;
}

.footer__company{
    font-size: 14px;
    letter-spacing: .1rem;
}
































