/*Fonts family*/
@font-face {
  font-family: 'RobotoBlack';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
/*Colors*/
/*Basic setting*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.section__header {
  text-align: center;
}
.section__header h2 {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}
.section__header h3 {
  font-size: 1.4rem;
  color: #c6c4c9;
}
.section__header hr {
  display: inline-block;
  width: 5rem;
  height: 0.1rem;
  margin: 2rem 0;
  background-color: #c6c4c9;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto-Regular', sans-serif;
}
/*   Modal Window --------------------------------  */
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #3b325d;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 2.4rem;
  }
}
/* modal form*/
.main__content .main__form {
  display: flex;
  padding: 0 2%;
  width: 30%;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
}
.form {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.form__header {
  width: 100%;
  font-size: 30px;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form__group {
  position: relative;
  margin: 50px 0;
}
.input {
  padding: 8px 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: #32cfb6 1px solid;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}
.input__label {
  position: absolute;
  pointer-events: none;
  font-size: 16px;
  color: #c6c4c9;
  left: 0;
  top: 0;
  transition: .3s;
}
.input:focus ~ .input__label,
.input:not(:focus):valid ~ .input__label {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  padding: 1.3rem 1.6rem;
  font-size: 1.6rem;
  border: 0.1rem #00e0d0 solid;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1.3rem 6.6rem;
}
/* Typography */
section {
  padding: 7rem 0;
}
.main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(49, 44, 81, 0.85), rgba(80, 63, 118, 0.85)), url(../img/mainImage.jpg) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;
}
.main__title {
  margin-top: 16rem;
  text-align: center;
}
.main__title h1 {
  font-size: 3.2rem;
}
.main__title hr {
  display: inline-block;
  width: 5rem;
  height: 0.1rem;
  margin: 3rem 0;
  background-color: #00e0d0;
}
.main__title p {
  margin: 0 12.5%;
  font-size: 1.4rem;
}
.main__title .btn {
  margin-top: 5.5rem;
  padding: 1.3rem 1.6rem;
  font-size: 1.6rem;
  border: 0.1rem #00e0d0 solid;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header {
  display: flex;
  padding: 1.7rem 0;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo .logo__img {
  height: 50px;
  width: auto;
}
.header .logo p {
  margin-left: 1.2rem;
  font-size: 3rem;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .nav {
  display: block;
  vertical-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.header .nav .nav__link {
  margin: 0 1rem;
  color: #ffffff;
  text-decoration: none;
}
.header .nav .nav__link:hover {
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .nav .authorization {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #0dadae;
}
.our__story {
  display: flex;
  justify-content: space-between;
}
.our__story-logo {
  margin-right: 10rem;
}
.our__story-logo img {
  display: block;
  max-width: 23.5rem;
  height: auto;
}
.our__story-content h1 {
  font-size: 2.2rem;
}
.our__story-content p {
  margin: 3rem 0;
  font-size: 1.4rem;
}
.our__story-content .btn {
  padding: 1.3rem 1.6rem;
  font-size: 1.6rem;
  border: 0.1rem #00e0d0 solid;
  background: linear-gradient(to right, #00e0d0, #4aa3cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.our__story-video {
  width: 100%;
  text-align: center;
  height: auto;
  background: linear-gradient(rgba(49, 44, 81, 0.85), rgba(80, 63, 118, 0.85)), url(../img/video.jpg) center center no-repeat;
  -webkit-background-size: cover;
}
.our__story-video .container {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.our__story-video .container p {
  margin-top: 3.4rem;
  font-size: 1.6rem;
  color: #ffffff;
}
.expertise__content {
  display: flex;
  flex-wrap: wrap;
}
.expertise__content .expertise__item {
  width: 33.3333%;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  position: relative;
}
.expertise__content .expertise__item img {
  max-width: 5rem;
  height: 5rem;
}
.expertise__content .expertise__title {
  margin: 2.5rem 0 1.5rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.expertise__content .expertise__text {
  font-size: 1.4rem;
  color: #c6c4c9;
}
/* Our team */
.our__team {
  width: 100%;
  text-align: center;
  height: auto;
  background: linear-gradient(rgba(49, 44, 81, 0.85), rgba(80, 63, 118, 0.85)), url(../img/video.jpg) center center no-repeat;
  -webkit-background-size: cover;
}
.our__team .section__header {
  color: #ffffff;
}
.our__team .section__header hr {
  background: #655c80;
  margin-bottom: 5rem;
}
.our__team-block {
  width: 22.2rem;
  height: auto;
  margin: 0 1rem;
}
.our__team-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.our__team-text {
  padding: 1.9rem 0 2.9rem;
  border: 2px solid #78778b;
}
.our__team-text h3 {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  color: #f3f3f5;
}
.our__team-text p {
  font-size: 1.3rem;
  color: #c0bfc5;
}
.slick-active {
  outline: none;
}
